body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
ul {
    padding: 0px !important;
}
.menu-principal{
    width: 100%;
    background-color: rgb(250, 137, 8);
    height: 70px;
}
main{
    margin: 0 auto;
    width: 980px;
    position: relative;
}
.logo{
    width: 60%;
    float: left;
    padding: 16px;
}
.redes-sociais ul li {
    margin-left: 25px;
    display: inline-block;
    float: left;
}
.redes-sociais{
    width: 30%;
    float: left;
}
.header-2 {
    background-color: #ffffff;
    width: 980px;
    margin: 0 auto;
    padding: 16px;
    

}
.menu-urls{
    height: 80px;
    border-bottom: 3px solid #efefef;
}
.menu ul li {
    display: inline-block;
    color: coral;
    margin-left: 15px;
    height: 50px;
}
.menu ul li:hover{
    border-bottom: 1px solid #00bac6;
}
.menu ul li a:hover {   
    color: #00bac6;
}

.menu ul li a{
    color: coral;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}
.menu{
    width: 60%;
    float: left;

}
.busca{
    text-align: center;
    width: 30%;
    float: right;
}
.busca input{
    background-image: url('../img/icone-search.png');
    background-repeat: no-repeat;
    margin-top: 10px;
    height: 36px;
    padding: 12px;
    width: 190px;
    background-position: 96%;
    border: 1px solid #d6d6d6;
}
.coluna-100{
    width: 100%;
    float: left;
    position: relative;
}
.slider-principal img{
    width: 1364px;
    height: 452;
}
button.slick-prev {
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51;
    z-index: 9;
    background-color: transparent;
    position:absolute;
    background-image: url('../img/anterior.png');
    top:35%;
    left: 14%;

}
button.slick-next {
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51;
    z-index: 9;
    background-color: transparent;
    position:absolute;
    background-image: url('../img/proximo.png');
    top:35%;
    right: 14%;

}

.slick-initialized {
    overflow: hidden;
}
.slick-dots li button {
    font-size: 0px;
    border: 5px solid #9b9393;
    width: 26px;
    height: 26px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
}
.slick-dots{
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 45%;
    top: 425px;
}
.slick-dots li{
    display: inline-block;
    padding-left: 10px ;
}
li.slick-active button {
    background-color: chartreuse;
}